<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twistedequations.rotor">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application >
        
        <receiver android:name=".KitkatMediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
